<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/animate.min.css" rel="stylesheet">
<link href="/css/prettyPhoto.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">
<style type="text/css">
    body > div.container > div > article > div li{
        list-style: none;
    }
    body > div.container > div > article > div ul{
        padding-left: 10px;
    }
</style>
   <!-- container -->
<div class="container" style="margin-top: 50px;">

    <ol class="breadcrumb">
        <li><a href="index.html">Inicio</a></li>
        <li class="active">Acerca de</li>
    </ol>

    <div class="row">
        
        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">Empresas</h1>
            </header>
            <div class="col-md-12">
                <div class="row">
                    <p><img src="/images/business.jpg" alt="" class="img-rounded pull-right" width="300" >Espacio Seguro ofrece una amplia gama de coberturas para tu empresa, tu maquinaria, mercadería, flota de vehículos, responsabilidad civil, entre otros.</p>
                    <p>Desarrollamos programas de acuerdo a las necesidades de nuestros clientes y entregamos productos personalizados.</p>
                    <p>Hoy somos una de las grandes operadoras en el segmento grandes empresas y entre nuestros clientes destacan empresas del sector minero, la construcción, el área forestal, el rubro manufacturero y bancario.</p>
                    <p>Nuestros productos incluyen:</p>
                </div>
                <div class="row">
                    <p><strong>Seguros automotrices para vehículos de uso comercial</strong></p>
                    <p>
                    </p><div class="col-md-12 seguros">
                        <ul>
                         <li><i class="fa fa-caret-right"></i>Flotas de vehículos pesados</li>
                         <li><i class="fa fa-caret-right"></i>Transporte colectivo</li>
                         <li><i class="fa fa-caret-right"></i>Livianos comerciales</li>
                        </ul>
                    </div>  
                    <p></p>
                    <p><strong>Seguros Empresas</strong></p>
                    <p>
                    </p><div class="col-md-12 seguros">
                        <ul>
                             <li><i class="fa fa-caret-right"></i>Incendios y adicionales</li>
                             <li><i class="fa fa-caret-right"></i>Pyme</li>
                             <li><i class="fa fa-caret-right"></i>Perjuicios por paralización</li>
                             <li><i class="fa fa-caret-right"></i>Robo</li>
                             <li><i class="fa fa-caret-right"></i>Responsabilidad Civil (Empresa, internacional y construcción)</li>
                             <li><i class="fa fa-caret-right"></i>Accidentes Personales Colectivos</li>
                        </ul>
                    </div>  
                    <p></p>
                    <p><strong>Seguros de Ingeniería</strong></p>
                    <p>
                    </p><div class="col-md-12 seguros">
                        <ul>
                             <li><i class="fa fa-caret-right"></i>Equipo Móvil Contratista</li>
                             <li><i class="fa fa-caret-right"></i>Equipo Móvil Agrícola</li>
                             <li><i class="fa fa-caret-right"></i>Avería de Maquinaria</li>
                             <li><i class="fa fa-caret-right"></i>Equipos Electrónicos</li>
                             <li><i class="fa fa-caret-right"></i>Todo Riesgo Construcción</li>
                             <li><i class="fa fa-caret-right"></i>Todo Riesgo Montaje</li>
                        </ul>
                    </div>  
                    <p></p>
                    <p><strong>Transporte</strong></p>
                    <p>
                    </p><div class="col-md-12 seguros">
                        <ul>
                             <li><i class="fa fa-caret-right"></i>Terrestre</li>
                             <li><i class="fa fa-caret-right"></i>Marítimo</li>
                             <li><i class="fa fa-caret-right"></i>Aéreo</li>
                        </ul>
                    </div>
                    <p></p>
                    <p><strong>Seguros para Cascos Marítimo</strong></p>
                    <p>
                    </p><div class="col-md-12 seguros">
                        <ul>
                             <li><i class="fa fa-caret-right"></i>Casco general</li>
                             <li><i class="fa fa-caret-right"></i>Pesqueros artesanales</li>
                        </ul>
                    </div>  
                    <p></p>
                    <p>
                    </p><div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 destacado">
                            Contacta a tu corredor y cotiza, conoce las condiciones del producto y obtén tu póliza.
                            </div>
                        </div>  
                    </div>      
                    <p></p>
                            
                    
                </div>
            </div>
            
        </article>
        <!-- /Article -->
        
        <!-- Sidebar -->
        <aside class="col-sm-4 sidebar sidebar-right">

            <div class="widget">
                <h4>Información de Contacto</h4>
                <ul class="list-unstyled list-spaces">
                    <li><a href="">Contáctenos:</a><br><span class="small text-muted">Clientes EspacioSeguro: 600 000 000 </span></li>
                    <li><a href="">o desde celulares al </a><br><span class="small text-muted">2 2392 2250.</span></li>
                    <li><a href="">Y accede a los diferentes servicios que tenemos para ti:</a><br><span class="small text-muted">
                        •   Denuncia siniestros.<br>
                        •   Consulta información general de la Compañía.(*)<br>
                        •   Consulta de pólizas y/o endosos.(*)<br>
                        •   Solicita servicios de asistencia contratados.(*)<br>
                        •   Ayuda para registro y pago de primas vía web.(*)</span></li>
                </ul>
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</div>  <!-- /container -->
<section id="bottom"> 
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="widget">
                    <h3>Compañia</h3>
                    <ul>
                        <li><a href="contact-us.html">Sobre EspacioSeguro</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Empresas</a></li>
                        <li><a href="#">Seguros Empresas</a></li>
                        <li><a href="#">Trabaja con Nosotros</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4">
                <div class="widget">
                    <h3>Nuestras Alianzas</h3>
                    <ul>
                        <li><a href="http://www.liberty.cl">Liberty</a></li>
                        <li><a href="http://www.rentanacional.cl">National income</a></li>
                        <li><a href="http://www.mapfre.cl">Mapfre Seguros</a></li>
                        <li><a href="http://www.bciseguros.cl">BCI Seguros</a></li>
                        <li><a href="http://www.hdi.cl">HDI Seguros</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4">
                <div class="widget">
                    <h3>Información</h3>
                    <ul>
                        <li><a href="http://www.svs.cl/portal/principal/605/w3-channel.html">Superintendencia de valores y seguros</a></li>
                        <li><a href="#">Contratación Voluntaria</a></li>
                        <li><a href="http://www.ddachile.cl/v5/Inicio.aspx ">Defensor del Asegurado</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-4-->

        </div>
    </div>
</section><!--/#bottom-->
<script type="text/javascript">
    $('.selectpicker').selectpicker();
</script>