<link href="/css/font-awesome.css" rel="stylesheet">
<link href="/css/payment.css" rel="stylesheet" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/responsive.css" rel="stylesheet">
<style type="text/css">
	.popover{
	    display:block !important;
	    max-width: 400px!important;
	    width:auto;
	}
	#footer {
		margin-top: 10px;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  color: #fff;
	  background: #5bc0de;
	}

	#footer a:hover {
	    color: #a7e6a7;
	    text-decoration: none;
	}

	#footer a {
	    color: #fff;
	}

	#footer ul > li {
	    display: inline-block;
	    margin-left: 15px;
	}
	 /*************************
  *******Header******
  **************************/

  #header .search{
  display: inline-block;
  }

  .navbar>.container .navbar-brand{
  margin-left: 0;
  }

  select {
    color: black;
  }

  .marginBottom-0 {margin-bottom:0;}

  .dropdown-submenu{position:relative;}
  .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
  .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
  .dropdown-submenu:hover>a:after{border-left-color:#555;}
  .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


  #header > div > div > div > div.col-sm-6.col-xs-4 > div > span:nth-child(2) {
  margin-left: 20%;
  }

  #navigation-top > div > div.collapse.navbar-collapse.navbar-right > ul > li.option::after {
  content: "|";
  padding-right: 5px;
  padding-left: 5px;
  font-size: larger;
  color: #ccc;
  }

  .top-bar {
  padding: 10px 15px;
  background: #5bc0de;
  border-bottom: 1px solid #5bc0de;
  line-height: 28px;
  font-size: initial;
  }

  .top-number{
  color: #fff;
  }

  .top-number p{
  margin: 0
  }

  .phone-number {
  background: #eee;
  border-color: #eee;
  }

  .phone-number:hover, .phone-number:active, .phone-number:focus{
  background: #eee !important;
  border-color: #eee !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: auto !important;
  }

  .social{
  text-align: right;
  }

  .social-share{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  }

  ul.social-share li {
  display: inline-block;
  }

  ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #5bc0de;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
  }

  ul.social-share li a:hover {
  background: #fff;
  color: #5bc0de;
  }

  .search i {
  color: #fff;
  }

  input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  }

  input.search-form::-webkit-input-placeholder{
  color: transparent;
  }

  input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
  }

  input.search-form:hover {
  width: 180px;
  }

  .navbar-brand {
  padding: 0;
  margin:0;
  }

  .navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #eeeeee;
  padding: 15px 0;
  padding-bottom: 0;
  }

  header nav {
  z-index: 1;
  }

  #navigation-top {
  box-shadow: 4px 5px 4px rgba(85, 94, 97, 0.21);
  }


  .carousel-inner {
  height: 520px;
  }

  .carousel-inner>div {
  -webkit-box-shadow: inset 1px 7px 20px -6px;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    inset 1px 7px 20px -6px;  /* Firefox 3.5 - 3.6 */
  box-shadow:         inset 1px 7px 20px -6px;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  #feature {
  -webkit-box-shadow: inset 1px 2px 20px -6px;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    inset 1px 2px 20px -6px;  /* Firefox 3.5 - 3.6 */
  box-shadow:         inset 1px 2px 20px -6px;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  #feature h3 {
  text-overflow: ellipsis;
  }

  .navbar-nav{
  margin-top: 12px;
  }

  .navbar-nav>li{
  margin-left: 10px;
  padding-bottom: 28px;
  }

  .navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #000;
  line-height: 24px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  }

  .navbar-inverse .navbar-nav > li > a:hover{
  background-color: #eeeeee;
  color: #5cb85c;
  }

  .navbar-inverse {
  border: none;
  }

  .navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  }

  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #27a66d;
  }

  .navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(92, 184, 92, 0.74);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
  }

  .navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
  }

  .navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
  font-size: 15px;
  }

  .navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
  .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
  .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
  }

  .navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
  }

  .navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
  }
  #header .fa {
    color: white !important;
  }
</style>
<div class="container">
  	<div id="wrap">
  		<div class="step" id="step1">
  			<div class="number">
  				<span>1</span>
  			</div>
  			<div class="title">
  				<h1>Materia asegurada</h1>
  			</div>
  		</div>
  		<div class="content vehicle">
  			<div class="col-xs-6 col-sm-3 col-md-3">
  			  <label for="usr">Ingresar año de Construcción:</label>
  			  <input type="number" class="form-control" required="false" id="year" autofocus="">
  			</div>
  			<div class="col-xs-6 col-sm-3 col-md-3">
  			 	<label for="usr">Posesión:</label>
  			  	<select class="form-control" required="false">
  					<option value="">Seleccione</option>
            <option value="A">Arrendatario</option>
            <option value="P">Propietario</option>
            <option value="O">OTROS</option>
  				</select>
  				<br>
  			</div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <label for="usr">Proteccion todas las ventanas:</label>
            <select class="form-control" required="false">
            <option value="">Seleccione</option>
            <option value="Y">NO</option>
            <option value="N">SI</option>
          </select>
          <br>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <label for="usr">Alarma conectada con monitoreo:</label>
            <select class="form-control" required="false">
            <option value="">Seleccione</option>
            <option value="Y">NO</option>
            <option value="N">SI</option>
          </select>
          <br>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <label for="usr">Condominio cerrado con cuidador:</label>
            <select class="form-control" required="false">
            <option value="">Seleccione</option>
            <option value="Y">NO</option>
            <option value="N">SI</option>
          </select>
          <br>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <label for="usr">Vigilancia permanente con rondin:</label>
            <select class="form-control" required="false">
            <option value="">Seleccione</option>
            <option value="Y">NO</option>
            <option value="N">SI</option>
          </select>
          <br>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <label for="usr">Piso del departamento:</label>
            <select class="form-control" required="false">
            <option value="">Seleccione</option>
            <option value="5">CASA</option>
            <option value="1">PRIMERO</option>
            <option value="2">SEGUNDO</option>
            <option value="4">SUPERIOR AL TERCERO</option>
            <option value="3">TERCERO</option>
          </select>
          <br>
        </div>
  		</div>
  		<div class="step" id="step2">
  			<div class="number">
  				<span>2</span>
  			</div>
  			<div class="title">
  				<h1>Ubicacion bien asegurado</h1>
  			</div>
  		</div>
  		<div class="content">
  			<div class="col-xs-12 col-sm-6 col-md-6">
  			  <label for="usr">Dirección:</label>
  			  <input type="text" class="form-control" required="false">
  			</div>
  			<div class="col-xs-12 col-sm-6 col-md-3">
  			  <label>Número:</label>
  			  <input type="text" class="form-control" required="false">
  			</div>
  			<div class="col-xs-12 col-sm-6 col-md-3">
  			  <label>Depto:</label>
  			  <input type="text" class="form-control" required="false" placeholder="Opcional">
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-6">
  				<br>
  				<label>Región</label>
  				<select class="selectpicker form-control" id="region" data-live-search="true" required>
                      <option selected="selected" value=""></option>
                      <option value="1">15° Región de Arica y Parinacota</option>
                      <option value="2">1° Región de Tarapacá</option>
                      <option value="3">2° Región de Antofagasta</option>
                      <option value="4">3° Región de Atacama</option>
                      <option value="5">4° Región de Coquimbo</option>
                      <option value="6">5° Región de Valparaíso</option>
                      <option selected="selected" value="7">Región Metropolitana</option>
                      <option value="8">6° Región de O'Higgins</option>
                      <option value="9">7° Región de Maule</option>
                      <option value="10">8° Región de Biobío</option>
                      <option value="11">9° Región de Araucanía</option>
                      <option value="12">14° Región de Los Ríos</option>
                      <option value="13">10° Región de Los Lagos</option>
                      <option value="14">11° Región de Aysén</option>
                      <option value="15">12° Región de Magallanes y  Antártica Chilena</option>
              	</select>
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-6">
  				<br>
  				<label>Comuna</label>
  				<select class="selectpicker form-control" id="commune" data-live-search="true" required>
            <option value=""></option>
            <option value="275">Aisén</option>
            <option value="72">Algarrobo</option>
            <option value="337">Alhué</option>
            <option value="178">Alto Biobío</option>
            <option value="27">Alto del Carmen</option>
            <option value="6">Alto Hospicio</option>
            <option value="253">Ancud</option>
            <option value="32">Andacollo</option>
            <option value="221">Angol</option>
            <option value="288">Antártica</option>
            <option value="12">Antofagasta</option>
            <option value="166">Antuco</option>
            <option value="159">Arauco</option>
            <option value="1">Arica</option>
            <option value="333">Buin</option>
            <option value="180">Bulnes</option>
            <option value="60">Cabildo</option>
            <option value="287">Cabo de Hornos</option>
            <option value="167">Cabrero</option>
            <option value="16">Calama</option>
            <option value="244">Calbuco</option>
            <option value="22">Caldera</option>
            <option value="65">Calera</option>
            <option value="334">Calera de Tango</option>
            <option value="56">Calle Larga</option>
            <option value="2">Camarones</option>
            <option value="8">Camiña</option>
            <option value="37">Canela</option>
            <option value="160">Cañete</option>
            <option value="201">Carahue</option>
            <option value="73">Cartagena</option>
            <option value="46">Casablanca</option>
            <option value="252">Castro</option>
            <option value="78">Catemu</option>
            <option value="126">Cauquenes</option>
            <option value="295">Cerrillos</option>
            <option value="296">Cerro Navia</option>
            <option value="269">Chaitén</option>
            <option value="24">Chañaral</option>
            <option value="127">Chanco</option>
            <option value="107">Chépica</option>
            <option value="148">Chiguayante</option>
            <option value="281">Chile Chico</option>
            <option value="179">Chillán</option>
            <option value="184">Chillán Viejo</option>
            <option value="108">Chimbarongo</option>
            <option value="220">Cholchol</option>
            <option value="254">Chonchi</option>
            <option value="276">Cisnes</option>
            <option value="181">Cobquecura</option>
            <option value="245">Cochamó</option>
            <option value="278">Cochrane</option>
            <option value="84">Codegua</option>
            <option value="182">Coelemu</option>
            <option value="273">Coihaique</option>
            <option value="183">Coihueco</option>
            <option value="85">Coinco</option>
            <option value="139">Colbún</option>
            <option value="9">Colchane</option>
            <option value="329">Colina</option>
            <option value="222">Collipulli</option>
            <option value="86">Coltauco</option>
            <option value="41">Combarbalá</option>
            <option value="146">Concepción</option>
            <option value="297">Conchalí</option>
            <option value="47">Concón</option>
            <option value="117">Constitución</option>
            <option value="161">Contulmo</option>
            <option value="21">Copiapó</option>
            <option value="31">Coquimbo</option>
            <option value="147">Coronel</option>
            <option value="233">Corral</option>
            <option value="202">Cunco</option>
            <option value="223">Curacautín</option>
            <option value="338">Curacaví</option>
            <option value="255">Curaco de Vélez</option>
            <option value="162">Curanilahue</option>
            <option value="203">Curarrehue</option>
            <option value="118">Curepto</option>
            <option value="129">Curicó</option>
            <option value="256">Dalcahue</option>
            <option value="25">Diego de Almagro</option>
            <option value="87">Doñihue</option>
            <option value="298">El Bosque</option>
            <option value="185">El Carmen</option>
            <option value="342">El Monte</option>
            <option value="74">El Quisco</option>
            <option value="75">El Tabo</option>
            <option value="119">Empedrado</option>
            <option value="224">Ercilla</option>
            <option value="299">Estación Central</option>
            <option value="149">Florida</option>
            <option value="204">Freire</option>
            <option value="28">Freirina</option>
            <option value="246">Fresia</option>
            <option value="247">Frutillar</option>
            <option value="270">Futaleufú</option>
            <option value="241">Futrono</option>
            <option value="205">Galvarino</option>
            <option value="4">General Lagos</option>
            <option value="206">Gorbea</option>
            <option value="88">Graneros</option>
            <option value="277">Guaitecas</option>
            <option value="66">Hijuelas</option>
            <option value="271">Hualaihué</option>
            <option value="130">Hualañé</option>
            <option value="157">Hualpén</option>
            <option value="150">Hualqui</option>
            <option value="10">Huara</option>
            <option value="29">Huasco</option>
            <option value="300">Huechuraba</option>
            <option value="36">Illapel</option>
            <option value="301">Independencia</option>
            <option value="5">Iquique</option>
            <option value="343">Isla de Maipo</option>
            <option value="54">Isla de Pascua</option>
            <option value="48">Juan Fernández</option>
            <option value="302">La Cisterna</option>
            <option value="67">La Cruz</option>
            <option value="101">La Estrella</option>
            <option value="303">La Florida</option>
            <option value="304">La Granja</option>
            <option value="33">La Higuera</option>
            <option value="59">La Ligua</option>
            <option value="305">La Pintana</option>
            <option value="306">La Reina</option>
            <option value="30">La Serena</option>
            <option value="240">La Unión</option>
            <option value="242">Lago Ranco</option>
            <option value="274">Lago Verde</option>
            <option value="284">Laguna Blanca</option>
            <option value="168">Laja</option>
            <option value="330">Lampa</option>
            <option value="234">Lanco</option>
            <option value="89">Las Cabras</option>
            <option value="307">Las Condes</option>
            <option value="207">Lautaro</option>
            <option value="158">Lebu</option>
            <option value="131">Licantén</option>
            <option value="68">Limache</option>
            <option value="138">Linares</option>
            <option value="102">Litueche</option>
            <option value="79">Llaillay</option>
            <option value="249">Llanquihue</option>
            <option value="308">Lo Barnechea</option>
            <option value="309">Lo Espejo</option>
            <option value="310">Lo Prado</option>
            <option value="109">Lolol</option>
            <option value="208">Loncoche</option>
            <option value="140">Longaví</option>
            <option value="225">Lonquimay</option>
            <option value="163">Los Alamos</option>
            <option value="55">Los Andes</option>
            <option value="165">Los Angeles</option>
            <option value="235">Los Lagos</option>
            <option value="248">Los Muermos</option>
            <option value="226">Los Sauces</option>
            <option value="38">Los Vilos</option>
            <option value="151">Lota</option>
            <option value="227">Lumaco</option>
            <option value="90">Machalí</option>
            <option value="311">Macul</option>
            <option value="236">Máfil</option>
            <option value="312">Maipú</option>
            <option value="91">Malloa</option>
            <option value="103">Marchihue</option>
            <option value="20">María Elena</option>
            <option value="339">María Pinto</option>
            <option value="237">Mariquina</option>
            <option value="120">Maule</option>
            <option value="250">Maullín</option>
            <option value="13">Mejillones</option>
            <option value="209">Melipeuco</option>
            <option value="336">Melipilla</option>
            <option value="132">Molina</option>
            <option value="42">Monte Patria</option>
            <option value="92">Mostazal</option>
            <option value="169">Mulchén</option>
            <option value="170">Nacimiento</option>
            <option value="110">Nancagua</option>
            <option value="292">Natales</option>
            <option value="104">Navidad</option>
            <option value="171">Negrete</option>
            <option value="186">Ninhue</option>
            <option value="187">Ñiquén</option>
            <option value="69">Nogales</option>
            <option value="210">Nueva Imperial</option>
            <option value="313">Ñuñoa</option>
            <option value="279">OHiggins</option>
            <option value="93">Olivar</option>
            <option value="17">Ollagüe</option>
            <option value="70">Olmué</option>
            <option value="262">Osorno</option>
            <option value="40">Ovalle</option>
            <option value="344">Padre Hurtado</option>
            <option value="211">Padre Las Casas</option>
            <option value="34">Paiguano</option>
            <option value="238">Paillaco</option>
            <option value="335">Paine</option>
            <option value="272">Palena</option>
            <option value="111">Palmilla</option>
            <option value="239">Panguipulli</option>
            <option value="80">Panquehue</option>
            <option value="61">Papudo</option>
            <option value="105">Paredones</option>
            <option value="141">Parral</option>
            <option value="314">Pedro Aguirre Cerda</option>
            <option value="121">Pelarco</option>
            <option value="128">Pelluhue</option>
            <option value="188">Pemuco</option>
            <option value="345">Peñaflor</option>
            <option value="315">Peñalolén</option>
            <option value="122">Pencahue</option>
            <option value="152">Penco</option>
            <option value="112">Peralillo</option>
            <option value="212">Perquenco</option>
            <option value="62">Petorca</option>
            <option value="94">Peumo</option>
            <option value="11">Pica</option>
            <option value="95">Pichidegua</option>
            <option value="100">Pichilemu</option>
            <option value="189">Pinto</option>
            <option value="327">Pirque</option>
            <option value="213">Pitrufquén</option>
            <option value="113">Placilla</option>
            <option value="190">Portezuelo</option>
            <option value="289">Porvenir</option>
            <option value="7">Pozo Almonte</option>
            <option value="290">Primavera</option>
            <option value="316">Providencia</option>
            <option value="49">Puchuncaví</option>
            <option value="214">Pucón</option>
            <option value="317">Pudahuel</option>
            <option value="326">Puente Alto</option>
            <option value="243">Puerto Montt</option>
            <option value="263">Puerto Octay</option>
            <option value="251">Puerto Varas</option>
            <option value="114">Pumanque</option>
            <option value="43">Punitaqui</option>
            <option value="283">Punta Arenas</option>
            <option value="257">Puqueldón</option>
            <option value="228">Purén</option>
            <option value="264">Purranque</option>
            <option value="81">Putaendo</option>
            <option value="3">Putre</option>
            <option value="265">Puyehue</option>
            <option value="258">Queilén</option>
            <option value="259">Quellón</option>
            <option value="260">Quemchi</option>
            <option value="172">Quilaco</option>
            <option value="318">Quilicura</option>
            <option value="173">Quilleco</option>
            <option value="191">Quillón</option>
            <option value="64">Quillota</option>
            <option value="50">Quilpué</option>
            <option value="261">Quinchao</option>
            <option value="96">Quinta de Tilcoco</option>
            <option value="319">Quinta Normal</option>
            <option value="51">Quintero</option>
            <option value="192">Quirihue</option>
            <option value="83">Rancagua</option>
            <option value="193">Ránquil</option>
            <option value="133">Rauco</option>
            <option value="320">Recoleta</option>
            <option value="229">Renaico</option>
            <option value="321">Renca</option>
            <option value="97">Rengo</option>
            <option value="98">Requínoa</option>
            <option value="142">Retiro</option>
            <option value="57">Rinconada</option>
            <option value="346">Río Bueno</option>
            <option value="123">Río Claro</option>
            <option value="44">Río Hurtado</option>
            <option value="282">Río Ibáñez</option>
            <option value="266">Río Negro</option>
            <option value="285">Río Verde</option>
            <option value="134">Romeral</option>
            <option value="215">Saavedra</option>
            <option value="135">Sagrada Familia</option>
            <option value="39">Salamanca</option>
            <option value="71">San Antonio</option>
            <option value="332">San Bernardo</option>
            <option value="194">San Carlos</option>
            <option value="124">San Clemente</option>
            <option value="58">San Esteban</option>
            <option value="195">San Fabián</option>
            <option value="77">San Felipe</option>
            <option value="106">San Fernando</option>
            <option value="286">San Gregorio</option>
            <option value="196">San Ignacio</option>
            <option value="143">San Javier</option>
            <option value="322">San Joaquín</option>
            <option value="328">San José de Maipo</option>
            <option value="267">San Juan de la Costa</option>
            <option value="323">San Miguel</option>
            <option value="197">San Nicolás</option>
            <option value="268">San Pablo</option>
            <option value="340">San Pedro</option>
            <option value="18">San Pedro de Atacama</option>
            <option value="153">San Pedro de la Paz</option>
            <option value="125">San Rafael</option>
            <option value="324">San Ramón</option>
            <option value="174">San Rosendo</option>
            <option value="99">San Vicente</option>
            <option value="175">Santa Bárbara</option>
            <option value="115">Santa Cruz</option>
            <option value="154">Santa Juana</option>
            <option value="82">Santa María</option>
            <option value="294">Santiago</option>
            <option value="76">Santo Domingo</option>
            <option value="14">Sierra Gorda</option>
            <option value="341">Talagante</option>
            <option value="116">Talca</option>
            <option value="155">Talcahuano</option>
            <option value="15">Taltal</option>
            <option value="200">Temuco</option>
            <option value="136">Teno</option>
            <option value="216">Teodoro Schmidt</option>
            <option value="23">Tierra Amarilla</option>
            <option value="331">Tiltil</option>
            <option value="291">Timaukel</option>
            <option value="164">Tirúa</option>
            <option value="19">Tocopilla</option>
            <option value="217">Toltén</option>
            <option value="156">Tomé</option>
            <option value="293">Torres del Paine</option>
            <option value="280">Tortel</option>
            <option value="230">Traiguén</option>
            <option value="198">Treguaco</option>
            <option value="176">Tucapel</option>
            <option value="232">Valdivia</option>
            <option value="26">Vallenar</option>
            <option value="45">Valparaíso</option>
            <option value="137">Vichuquén</option>
            <option value="231">Victoria</option>
            <option value="35">Vicuña</option>
            <option value="218">Vilcún</option>
            <option value="144">Villa Alegre</option>
            <option value="52">Villa Alemana</option>
            <option value="219">Villarrica</option>
            <option value="53">Viña del Mar</option>
            <option value="325">Vitacura</option>
            <option value="145">Yerbas Buenas</option>
            <option value="177">Yumbel</option>
            <option value="199">Yungay</option>
            <option value="63">Zapallar</option>
          </select>
  			</div>
  		</div>
  	</div>
		<input type="button" class="continue" value="Continuar" />
	<!-- <div class="col-md-8">
		<input type="checkbox" name="check"style="margin-left: 20px;"><span for="check">&nbsp&nbspAceptar términos y condiciones</span>
	</div>
	<a class="continue" href="#">Continuar</a> -->
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('a[rel=popover]').popover({
	  html: true,
	  trigger: 'hover',
	  placement: 'bottom',
	  content: function(){return '<img src="'+$(this).data('img') + '" />';}
	});

	$("#selyes").on('change', function() {
		if($(this).val() == 2) {
			$("#forselyes").removeClass('hidden');
		} else {
			$("#forselyes").addClass('hidden');
		}
	});

	$("#withpatente").on('change', function() {
		if($(this).prop('checked')) {
			$(".forpatente").removeClass('hidden');
		} else {
			$(".forpatente").addClass('hidden');
		}
	});

	$(".inspectradio input").on('change', function() {
		if($(this).val() == 1) {
			$('.inspectr2').css('display', 'none');
		} else {
			$('.inspectr2').css('display', 'block');
		}
	});

	$('#region').change(function() {
        if ($(this).data('options') === undefined) {
            /*Taking an array of all options-2 and kind of embedding it on the select1*/
            $(this).data('options', $('#commune option').clone());
        }

        var id = $(this).val();
        
        var listsbyId = [
        [1,4],[5,11],[12,20],[21,29],[30,44],[45,82],[294,345],[83,115],[116,145],[146,199],[200,231],[232,242],[243,272],[273,282],[283,293]];
        var options = [];
        for(var i = listsbyId[id-1][0]; i <= listsbyId[id-1][1]; i++) {
            for(var j = 0; j < $(this).data('options').length; j++) {
                if ($(this).data('options')[j].value == i) {
                    options +=  "<option value=" + $(this).data('options')[j].value + ">" + $(this).data('options')[j].text + "</option>";
                }
            }
        }
        if (id == 12) {
            options +=  "<option value=346>Río Bueno</option>";
        }
        $('#commune').html(options);
    });

	$(".pagoradio input").on('change', function() {
		if($(this).val() == 1) {
			$('.pagor1').css('display', 'block');
			$('.pagorr1').css('display', 'block');
			$('.pagorr2').css('display', 'none');
			$('.pagorr3').css('display', 'none');
		} else if($(this).val() == 2){
			$('.pagor1').css('display', 'block');
			$('.pagor2').css('display', 'none');
			$('.pagorr1').css('display', 'none');
			$('.pagorr2').css('display', 'block');
			$('.pagorr3').css('display', 'none');
		} else {
			$('.pagor1').css('display', 'none');
			$('.pagor2').css('display', 'none');
			$('.pagorr1').css('display', 'none');
			$('.pagorr2').css('display', 'none');
			$('.pagorr3').css('display', 'block');
		}
	});
	$('.selectpicker').selectpicker();

  $(".continue").on('click', function(e) {
    e.preventDefault();
    location.href = "/payment/housefinal?rut=<%= params[:rut] %>&number=<%= params[:number]%>&email=<%= params[:email]%>"; 
  });
});
</script>
