<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/travelpayment.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">
<style type="text/css">
body {
  background-color: #5bc0de;
}
</style>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
            <h4 class="modal-title" id="myModalLabel"><i class="text-muted fa fa-shopping-cart"></i> <strong>¿Qué me cubre?</strong></h4>
          </div>
          <div class="modal-body">
          
            <table class="pull-left col-md-8 ">
                 <tbody>
                     <tr>
                         <td class="h6"><strong>Asistencia Médica en caso de accidente</strong></td>
                         <td> </td>
                         <td class="h5">US$ 15.000</td>
                     </tr>
                     
                     <tr>
                         <td class="h6"><strong>Asistencia Médica en caso de enfermedad</strong></td>
                         <td> </td>
                         <td class="h5">US$ 15.000</td>
                     </tr>
                     
                     <tr>
                         <td class="h6"><strong>Cobertura Geográfica</strong></td>
                         <td> </td>
                         <td class="h5">Mundial</td>
                     </tr>
                     
                     <tr>
                         <td class="h6"><strong>Indemnización por pérdida de equipaje</strong></td>
                         <td> </td>
                         <td class="h5">USS 900</td>
                     </tr>
                     
                     <tr>
                         <td class="h6"><strong>Deducible</strong></td>
                         <td> </td>
                         <td class="h5">x</td>
                     </tr>
                     
                     <tr>
                         <td class="h6"><strong>Gastos Médicos por preexistencias</strong></td>
                         <td> </td>
                         <td class="h5">US$ 500</td>
                     </tr>  

                     <tr>
                         <td class="h6"><strong>Límite de edad</strong></td>
                         <td> </td>
                         <td class="h5">75 años</td>
                     </tr>                            

                     <tr>
                         <td class="h6"><strong>Embarazada</strong></td>
                         <td> </td>
                         <td class="h5">Incluido</td>
                     </tr>
                    
                     <tr>
                         <td class="btn-mais-info text-primary">
                             <i class="open_info fa fa-plus-square-o"></i>
                             <i class="open_info hide fa fa-minus-square-o"></i> informações
                         </td>
                         <td> </td>
                         <td class="h5"></td>
                     </tr> 

                 </tbody>
            </table>
                     
                 
            <div class="col-md-4"> 
                <img src="<%= @logo %>" alt="teste" class="img-thumbnail">  
            </div>
            
            <div class="clearfix"></div>
           <p class="open_info hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
            
          <div class="modal-footer">       
              
            <div class="text-right pull-right col-md-3">
                Varejo: <br/> 
                <span class="h3 text-muted"><strong> R$50,00 </strong></span></span> 
            </div> 
              
            <div class="text-right pull-right col-md-3">
                Atacado: <br/> 
                <span class="h3 text-muted"><strong>R$35,00</strong></span>
            </div>
             
        </div>
      </div>
    </div>
</div>
<!-- MultiStep Form -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container" style="width: 80%;">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>¡Buena elección!</h1>
                    <div class="description">
                        <p>
                           Ya falta poco para finalizar tu compra
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="product">
                        <!-- Fornt face of product -->
                        <div class="fornt">
                            <h3>&nbsp&nbspRevisa tu asistencia</h3>
                            <div class="img-wrap">
                                <img src="<%= @logo %>" alt="mac air"/>
                                <i class="fa fa-heart fav"></i>
                            </div>
                            <div class="description clearfix">
                                <span class="discount">-30%</span>
                                <div class="content">
                                    <h3> <strong><%= @company %></strong></h3>
                                    <p>Ida: 21 de Diciembre de 2017</p>
                                    <p>Regreso: 11 de Enero de 2018 </p>
                                </div>
                                <div class="price">
                                    <span class="old-price"><del>$48.841</del></span><span class="new-price">$31.753</span>
                                </div>
                                <div class="quick-detail">
                                    <i class="fa fa-info-circle" style="color: white;"></i>
                                </div>
                            </div>
                        </div><!-- fornt -->
                        
                        
                    </div><!-- /product -->
                </div>
                <div class="col-sm-8 form-box">
                    
                    <form role="form" action="" method="post" class="registration-form">
                        
                        <fieldset>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Paso 1/3</h3>
                                    <p>Datos de la compra:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                              <div class="row">
                                <div class="form-group  col-xs-12 col-md-6">
                                    <label class="sr-only" for="form-email">Correo electrónico</label>
                                    <input type="text" name="form-email" placeholder="Correo electrónico..." class="form-email form-control" id="form-email">
                                </div>
                                <div class="form-group  col-xs-12 col-md-4 col-md-offset-2">
                                    <label class="sr-only" for="form-telephone">Teléfono (celular o fijo)</label>
                                    <input type="text" name="form-telephone" placeholder="Teléfono (celular o fijo)..." class="form-email form-control form-telephone">
                                </div>
                              </div>
                              <div class="row">
                                <div class="form-group col-xs-12 col-md-7">
                                    <label class="sr-only" for="form-last-name">Dirección de residencia (calle, número, dpto)</label>
                                    <input type="text" name="form-last-name" placeholder="Dirección de residencia (calle, número, dpto)..." class="form-last-name form-control" id="form-last-name">
                                </div>
                                <div class="form-group col-xs-12 col-md-3">
                                    <label class="sr-only" for="form-last-name">Región</label>
                                    <select class="selectpicker form-control" id="region" data-live-search="true" required>
                                        <option selected="selected" value="">Región</option>
                                        <option value="1">15° Región de Arica y Parinacota</option>
                                        <option value="2">1° Región de Tarapacá</option>
                                        <option value="3">2° Región de Antofagasta</option>
                                        <option value="4">3° Región de Atacama</option>
                                        <option value="5">4° Región de Coquimbo</option>
                                        <option value="6">5° Región de Valparaíso</option>
                                        <option value="7">Región Metropolitana</option>
                                        <option value="8">6° Región de O'Higgins</option>
                                        <option value="9">7° Región de Maule</option>
                                        <option value="10">8° Región de Biobío</option>
                                        <option value="11">9° Región de Araucanía</option>
                                        <option value="12">14° Región de Los Ríos</option>
                                        <option value="13">10° Región de Los Lagos</option>
                                        <option value="14">11° Región de Aysén</option>
                                        <option value="15">12° Región de Magallanes y  Antártica Chilena</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-12 col-md-2">
                                    <label class="sr-only" for="form-last-name">Comuna</label>
                                     <select class="selectpicker form-control" id="Comuna" data-live-search="true" required>
                                        <option selected="selected" value="">Comuna</option>
                                        <option value="275">Aisén</option>
                                        <option value="72">Algarrobo</option>
                                        <option value="337">Alhué</option>
                                        <option value="178">Alto Biobío</option>
                                        <option value="27">Alto del Carmen</option>
                                        <option value="6">Alto Hospicio</option>
                                        <option value="253">Ancud</option>
                                        <option value="32">Andacollo</option>
                                        <option value="221">Angol</option>
                                        <option value="288">Antártica</option>
                                        <option value="12">Antofagasta</option>
                                        <option value="166">Antuco</option>
                                        <option value="159">Arauco</option>
                                        <option value="1">Arica</option>
                                        <option value="333">Buin</option>
                                        <option value="180">Bulnes</option>
                                        <option value="60">Cabildo</option>
                                        <option value="287">Cabo de Hornos</option>
                                        <option value="167">Cabrero</option>
                                        <option value="16">Calama</option>
                                        <option value="244">Calbuco</option>
                                        <option value="22">Caldera</option>
                                        <option value="65">Calera</option>
                                        <option value="334">Calera de Tango</option>
                                        <option value="56">Calle Larga</option>
                                        <option value="2">Camarones</option>
                                        <option value="8">Camiña</option>
                                        <option value="37">Canela</option>
                                        <option value="160">Cañete</option>
                                        <option value="201">Carahue</option>
                                        <option value="73">Cartagena</option>
                                        <option value="46">Casablanca</option>
                                        <option value="252">Castro</option>
                                        <option value="78">Catemu</option>
                                        <option value="126">Cauquenes</option>
                                        <option value="295">Cerrillos</option>
                                        <option value="296">Cerro Navia</option>
                                        <option value="269">Chaitén</option>
                                        <option value="24">Chañaral</option>
                                        <option value="127">Chanco</option>
                                        <option value="107">Chépica</option>
                                        <option value="148">Chiguayante</option>
                                        <option value="281">Chile Chico</option>
                                        <option value="179">Chillán</option>
                                        <option value="184">Chillán Viejo</option>
                                        <option value="108">Chimbarongo</option>
                                        <option value="220">Cholchol</option>
                                        <option value="254">Chonchi</option>
                                        <option value="276">Cisnes</option>
                                        <option value="181">Cobquecura</option>
                                        <option value="245">Cochamó</option>
                                        <option value="278">Cochrane</option>
                                        <option value="84">Codegua</option>
                                        <option value="182">Coelemu</option>
                                        <option value="273">Coihaique</option>
                                        <option value="183">Coihueco</option>
                                        <option value="85">Coinco</option>
                                        <option value="139">Colbún</option>
                                        <option value="9">Colchane</option>
                                        <option value="329">Colina</option>
                                        <option value="222">Collipulli</option>
                                        <option value="86">Coltauco</option>
                                        <option value="41">Combarbalá</option>
                                        <option value="146">Concepción</option>
                                        <option value="297">Conchalí</option>
                                        <option value="47">Concón</option>
                                        <option value="117">Constitución</option>
                                        <option value="161">Contulmo</option>
                                        <option value="21">Copiapó</option>
                                        <option value="31">Coquimbo</option>
                                        <option value="147">Coronel</option>
                                        <option value="233">Corral</option>
                                        <option value="202">Cunco</option>
                                        <option value="223">Curacautín</option>
                                        <option value="338">Curacaví</option>
                                        <option value="255">Curaco de Vélez</option>
                                        <option value="162">Curanilahue</option>
                                        <option value="203">Curarrehue</option>
                                        <option value="118">Curepto</option>
                                        <option value="129">Curicó</option>
                                        <option value="256">Dalcahue</option>
                                        <option value="25">Diego de Almagro</option>
                                        <option value="87">Doñihue</option>
                                        <option value="298">El Bosque</option>
                                        <option value="185">El Carmen</option>
                                        <option value="342">El Monte</option>
                                        <option value="74">El Quisco</option>
                                        <option value="75">El Tabo</option>
                                        <option value="119">Empedrado</option>
                                        <option value="224">Ercilla</option>
                                        <option value="299">Estación Central</option>
                                        <option value="149">Florida</option>
                                        <option value="204">Freire</option>
                                        <option value="28">Freirina</option>
                                        <option value="246">Fresia</option>
                                        <option value="247">Frutillar</option>
                                        <option value="270">Futaleufú</option>
                                        <option value="241">Futrono</option>
                                        <option value="205">Galvarino</option>
                                        <option value="4">General Lagos</option>
                                        <option value="206">Gorbea</option>
                                        <option value="88">Graneros</option>
                                        <option value="277">Guaitecas</option>
                                        <option value="66">Hijuelas</option>
                                        <option value="271">Hualaihué</option>
                                        <option value="130">Hualañé</option>
                                        <option value="157">Hualpén</option>
                                        <option value="150">Hualqui</option>
                                        <option value="10">Huara</option>
                                        <option value="29">Huasco</option>
                                        <option value="300">Huechuraba</option>
                                        <option value="36">Illapel</option>
                                        <option value="301">Independencia</option>
                                        <option value="5">Iquique</option>
                                        <option value="343">Isla de Maipo</option>
                                        <option value="54">Isla de Pascua</option>
                                        <option value="48">Juan Fernández</option>
                                        <option value="302">La Cisterna</option>
                                        <option value="67">La Cruz</option>
                                        <option value="101">La Estrella</option>
                                        <option value="303">La Florida</option>
                                        <option value="304">La Granja</option>
                                        <option value="33">La Higuera</option>
                                        <option value="59">La Ligua</option>
                                        <option value="305">La Pintana</option>
                                        <option value="306">La Reina</option>
                                        <option value="30">La Serena</option>
                                        <option value="240">La Unión</option>
                                        <option value="242">Lago Ranco</option>
                                        <option value="274">Lago Verde</option>
                                        <option value="284">Laguna Blanca</option>
                                        <option value="168">Laja</option>
                                        <option value="330">Lampa</option>
                                        <option value="234">Lanco</option>
                                        <option value="89">Las Cabras</option>
                                        <option value="307">Las Condes</option>
                                        <option value="207">Lautaro</option>
                                        <option value="158">Lebu</option>
                                        <option value="131">Licantén</option>
                                        <option value="68">Limache</option>
                                        <option value="138">Linares</option>
                                        <option value="102">Litueche</option>
                                        <option value="79">Llaillay</option>
                                        <option value="249">Llanquihue</option>
                                        <option value="308">Lo Barnechea</option>
                                        <option value="309">Lo Espejo</option>
                                        <option value="310">Lo Prado</option>
                                        <option value="109">Lolol</option>
                                        <option value="208">Loncoche</option>
                                        <option value="140">Longaví</option>
                                        <option value="225">Lonquimay</option>
                                        <option value="163">Los Alamos</option>
                                        <option value="55">Los Andes</option>
                                        <option value="165">Los Angeles</option>
                                        <option value="235">Los Lagos</option>
                                        <option value="248">Los Muermos</option>
                                        <option value="226">Los Sauces</option>
                                        <option value="38">Los Vilos</option>
                                        <option value="151">Lota</option>
                                        <option value="227">Lumaco</option>
                                        <option value="90">Machalí</option>
                                        <option value="311">Macul</option>
                                        <option value="236">Máfil</option>
                                        <option value="312">Maipú</option>
                                        <option value="91">Malloa</option>
                                        <option value="103">Marchihue</option>
                                        <option value="20">María Elena</option>
                                        <option value="339">María Pinto</option>
                                        <option value="237">Mariquina</option>
                                        <option value="120">Maule</option>
                                        <option value="250">Maullín</option>
                                        <option value="13">Mejillones</option>
                                        <option value="209">Melipeuco</option>
                                        <option value="336">Melipilla</option>
                                        <option value="132">Molina</option>
                                        <option value="42">Monte Patria</option>
                                        <option value="92">Mostazal</option>
                                        <option value="169">Mulchén</option>
                                        <option value="170">Nacimiento</option>
                                        <option value="110">Nancagua</option>
                                        <option value="292">Natales</option>
                                        <option value="104">Navidad</option>
                                        <option value="171">Negrete</option>
                                        <option value="186">Ninhue</option>
                                        <option value="187">Ñiquén</option>
                                        <option value="69">Nogales</option>
                                        <option value="210">Nueva Imperial</option>
                                        <option value="313">Ñuñoa</option>
                                        <option value="279">OHiggins</option>
                                        <option value="93">Olivar</option>
                                        <option value="17">Ollagüe</option>
                                        <option value="70">Olmué</option>
                                        <option value="262">Osorno</option>
                                        <option value="40">Ovalle</option>
                                        <option value="344">Padre Hurtado</option>
                                        <option value="211">Padre Las Casas</option>
                                        <option value="34">Paiguano</option>
                                        <option value="238">Paillaco</option>
                                        <option value="335">Paine</option>
                                        <option value="272">Palena</option>
                                        <option value="111">Palmilla</option>
                                        <option value="239">Panguipulli</option>
                                        <option value="80">Panquehue</option>
                                        <option value="61">Papudo</option>
                                        <option value="105">Paredones</option>
                                        <option value="141">Parral</option>
                                        <option value="314">Pedro Aguirre Cerda</option>
                                        <option value="121">Pelarco</option>
                                        <option value="128">Pelluhue</option>
                                        <option value="188">Pemuco</option>
                                        <option value="345">Peñaflor</option>
                                        <option value="315">Peñalolén</option>
                                        <option value="122">Pencahue</option>
                                        <option value="152">Penco</option>
                                        <option value="112">Peralillo</option>
                                        <option value="212">Perquenco</option>
                                        <option value="62">Petorca</option>
                                        <option value="94">Peumo</option>
                                        <option value="11">Pica</option>
                                        <option value="95">Pichidegua</option>
                                        <option value="100">Pichilemu</option>
                                        <option value="189">Pinto</option>
                                        <option value="327">Pirque</option>
                                        <option value="213">Pitrufquén</option>
                                        <option value="113">Placilla</option>
                                        <option value="190">Portezuelo</option>
                                        <option value="289">Porvenir</option>
                                        <option value="7">Pozo Almonte</option>
                                        <option value="290">Primavera</option>
                                        <option value="316">Providencia</option>
                                        <option value="49">Puchuncaví</option>
                                        <option value="214">Pucón</option>
                                        <option value="317">Pudahuel</option>
                                        <option value="326">Puente Alto</option>
                                        <option value="243">Puerto Montt</option>
                                        <option value="263">Puerto Octay</option>
                                        <option value="251">Puerto Varas</option>
                                        <option value="114">Pumanque</option>
                                        <option value="43">Punitaqui</option>
                                        <option value="283">Punta Arenas</option>
                                        <option value="257">Puqueldón</option>
                                        <option value="228">Purén</option>
                                        <option value="264">Purranque</option>
                                        <option value="81">Putaendo</option>
                                        <option value="3">Putre</option>
                                        <option value="265">Puyehue</option>
                                        <option value="258">Queilén</option>
                                        <option value="259">Quellón</option>
                                        <option value="260">Quemchi</option>
                                        <option value="172">Quilaco</option>
                                        <option value="318">Quilicura</option>
                                        <option value="173">Quilleco</option>
                                        <option value="191">Quillón</option>
                                        <option value="64">Quillota</option>
                                        <option value="50">Quilpué</option>
                                        <option value="261">Quinchao</option>
                                        <option value="96">Quinta de Tilcoco</option>
                                        <option value="319">Quinta Normal</option>
                                        <option value="51">Quintero</option>
                                        <option value="192">Quirihue</option>
                                        <option value="83">Rancagua</option>
                                        <option value="193">Ránquil</option>
                                        <option value="133">Rauco</option>
                                        <option value="320">Recoleta</option>
                                        <option value="229">Renaico</option>
                                        <option value="321">Renca</option>
                                        <option value="97">Rengo</option>
                                        <option value="98">Requínoa</option>
                                        <option value="142">Retiro</option>
                                        <option value="57">Rinconada</option>
                                        <option value="346">Río Bueno</option>
                                        <option value="123">Río Claro</option>
                                        <option value="44">Río Hurtado</option>
                                        <option value="282">Río Ibáñez</option>
                                        <option value="266">Río Negro</option>
                                        <option value="285">Río Verde</option>
                                        <option value="134">Romeral</option>
                                        <option value="215">Saavedra</option>
                                        <option value="135">Sagrada Familia</option>
                                        <option value="39">Salamanca</option>
                                        <option value="71">San Antonio</option>
                                        <option value="332">San Bernardo</option>
                                        <option value="194">San Carlos</option>
                                        <option value="124">San Clemente</option>
                                        <option value="58">San Esteban</option>
                                        <option value="195">San Fabián</option>
                                        <option value="77">San Felipe</option>
                                        <option value="106">San Fernando</option>
                                        <option value="286">San Gregorio</option>
                                        <option value="196">San Ignacio</option>
                                        <option value="143">San Javier</option>
                                        <option value="322">San Joaquín</option>
                                        <option value="328">San José de Maipo</option>
                                        <option value="267">San Juan de la Costa</option>
                                        <option value="323">San Miguel</option>
                                        <option value="197">San Nicolás</option>
                                        <option value="268">San Pablo</option>
                                        <option value="340">San Pedro</option>
                                        <option value="18">San Pedro de Atacama</option>
                                        <option value="153">San Pedro de la Paz</option>
                                        <option value="125">San Rafael</option>
                                        <option value="324">San Ramón</option>
                                        <option value="174">San Rosendo</option>
                                        <option value="99">San Vicente</option>
                                        <option value="175">Santa Bárbara</option>
                                        <option value="115">Santa Cruz</option>
                                        <option value="154">Santa Juana</option>
                                        <option value="82">Santa María</option>
                                        <option value="294">Santiago</option>
                                        <option value="76">Santo Domingo</option>
                                        <option value="14">Sierra Gorda</option>
                                        <option value="341">Talagante</option>
                                        <option value="116">Talca</option>
                                        <option value="155">Talcahuano</option>
                                        <option value="15">Taltal</option>
                                        <option value="200">Temuco</option>
                                        <option value="136">Teno</option>
                                        <option value="216">Teodoro Schmidt</option>
                                        <option value="23">Tierra Amarilla</option>
                                        <option value="331">Tiltil</option>
                                        <option value="291">Timaukel</option>
                                        <option value="164">Tirúa</option>
                                        <option value="19">Tocopilla</option>
                                        <option value="217">Toltén</option>
                                        <option value="156">Tomé</option>
                                        <option value="293">Torres del Paine</option>
                                        <option value="280">Tortel</option>
                                        <option value="230">Traiguén</option>
                                        <option value="198">Treguaco</option>
                                        <option value="176">Tucapel</option>
                                        <option value="232">Valdivia</option>
                                        <option value="26">Vallenar</option>
                                        <option value="45">Valparaíso</option>
                                        <option value="137">Vichuquén</option>
                                        <option value="231">Victoria</option>
                                        <option value="35">Vicuña</option>
                                        <option value="218">Vilcún</option>
                                        <option value="144">Villa Alegre</option>
                                        <option value="52">Villa Alemana</option>
                                        <option value="219">Villarrica</option>
                                        <option value="53">Viña del Mar</option>
                                        <option value="325">Vitacura</option>
                                        <option value="145">Yerbas Buenas</option>
                                        <option value="177">Yumbel</option>
                                        <option value="199">Yungay</option>
                                        <option value="63">Zapallar</option>
                                    
                                    </select>
                                </div>
                              </div>
                                
                                <div class="row">
                                  <hr>
                                <p>&nbsp&nbsp&nbsp&nbspContacto de emergencia</p>
                                  <div class="form-group  col-xs-12 col-md-4">
                                    <label class="sr-only" for="form-telephone"></label>
                                    <input type="text" name="form-nombres" placeholder="Nombre" class="form-email form-control" id="form-nombres">
                                  </div>
                                  <div class="form-group  col-xs-12 col-md-4">
                                    <label class="sr-only" for="form-Apellidos"></label>
                                    <input type="text" name="form-nombres" placeholder="Apellidos" class="form-email form-control" id="form-Apellidos">
                                  </div>
                                  <div class="form-group  col-xs-12 col-md-4">
                                    <label class="sr-only" for="form-telephone"></label>
                                    <input type="text" name="form-telephone" placeholder="Teléfono (celular o fijo)..." class="form-email form-control form-telephone">
                                  </div>

                                </div>
                                <div class="form-group"></div>
                                <button type="button" class="btn btn-next">Continuar</button>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Paso 2 / 3</h3>
                                    <p>Información de Pasajeros:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-users"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <% @memberages.each do |age|%>
                                <hr>
                                <p>&nbsp&nbsp&nbspViajero de <%= age %> años</p>
                                <div class="row">
                                    <div class="form-group  col-xs-12 col-md-4">
                                        <label class="sr-only" for="form-nombres"></label>
                                        <input type="text" name="form-nombres" placeholder="Nombre" class="form-control" id="form-nombres">
                                    </div>
                                    <div class="form-group  col-xs-12 col-md-4">
                                        <label class="sr-only" for="form-apellidos"></label>
                                        <input type="text" name="form-apellidos" placeholder="Apellidos" class="form-control" id="form-apellidos">
                                    </div>
                                    <div class="input-group">
                                      <div class="input-group-btn">
                                        <select>
                                            <option>RUT</option>
                                            <option>Pasaporte</option>
                                        </select>
                                      </div>
                                      <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-xs-12 col-md-4">
                                        <label class="sr-only" for="form-birthday"></label>
                                        <input type="text" name="form-birthday" placeholder="Fecha de nacimiento(MM/DD)" class="form-control form-birthday">
                                    </div>
                                    <div class="form-group  col-xs-12 col-md-3">
                                        <select>
                                            <option value="">Sexo</option>
                                            <option>Masculino</option>
                                            <option>Femenino</option>
                                        </select>
                                    </div>
                                </div>
                                <% end %>
                                <hr>
                                <button type="button" class="btn btn-previous">Ir al paso anterior</button>
                                <button type="button" class="btn btn-next">Continuar</button>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Paso 3 / 3</h3>
                                    <p>Pagar:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-paypal"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    <div class="funkyradio">
                                        <div class="funkyradio-default">
                                            <input type="radio" name="radio" id="radio1" checked/>
                                            <label for="radio1"><img src="/images/payment.png"></label>
                                        </div>
                                        <div class="funkyradio-default">
                                            <input type="radio" name="radio" id="radio2" />
                                            <label for="radio2">Transferencia electrónica</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group radio2" style="display: none;">
                                    <h2>¿Qué Hacer?</h2>
                                    <p><strong>1. Transfiere: $31.753</strong></p>
                                    <p><strong>Nombre:</strong> Espacio Seguros E.S.</p>
                                    <p><strong>RUT:</strong> 76.052.998-2</p>
                                    <p><strong>Cuenta Corriente:</strong> 65496470</p>
                                    <p><strong>Correo:</strong> ventas@espacioseguros.com</p>
                                    <p><strong>2. Envíanos el comprobante - Enviar por correo después</strong></p>
                                </div>
                                <button type="button" class="btn btn-previous">Ir al paso anterior</button>
                                <button type="submit" class="btn">Pagar!</button>
                            </div>
                        </fieldset>
                    
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- /.MultiStep Form -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/validator.js"></script>
<script src="/js/cleave.js"></script>

<script src="/libs/no-ui-slider/jquery.nouislider.all.min.js"></script>
<script src="/libs/parallax.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script src="/js/moment-with-locales.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/libs/inputautocomplete/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript">

jQuery(document).ready(function() {
    
    /*
        Form
    */
    $('.registration-form fieldset:first-child').fadeIn('slow');
    
    $('.registration-form input[type="text"], .registration-form input[type="password"], .registration-form textarea').on('focus', function() {
      $(this).removeClass('input-error');
    });
    
    // next step
    $('.registration-form .btn-next').on('click', function() {
      var parent_fieldset = $(this).parents('fieldset');
      var next_step = true;
      
      parent_fieldset.find('input[type="text"], input[type="password"], textarea, select').each(function() {
        console.log($(this), $(this).val());
        if( $(this).val() == "" ) {
          $(this).addClass('input-error');
          next_step = false;
        }
        else {
          $(this).removeClass('input-error');
        }
      });
      
      if( next_step ) {
        parent_fieldset.fadeOut(400, function() {
          $(this).next().fadeIn();
        });
      }
      
    });
    
    // previous step
    $('.registration-form .btn-previous').on('click', function() {
      $(this).parents('fieldset').fadeOut(400, function() {
        $(this).prev().fadeIn();
      });
    });
    
    // submit
    $('.registration-form').on('submit', function(e) {
      
      $(this).find('input[type="text"], input[type="password"], textarea, select').each(function() {
        if( $(this).val() == "" ) {
          e.preventDefault();
          $(this).addClass('input-error');
        }
        else {
          $(this).removeClass('input-error');
        }
      });
      
    });
    
    $('.form-telephone').toArray().forEach(function(field){
        new Cleave(field, {
            numericOnly: true,
            blocks: [9]
        });

    });

    $('.form-birthday').toArray().forEach(function(field){
        new Cleave(field, {
            date: true,
            datePattern: ['m', 'y']
        });

    });
});

// for fav
    $('.fa-heart').click(function(){
        $(this).toggleClass('fav'); 
    });

    $('.quick-detail').click(function (){
        $('#myModal').modal('show');
    });

    $('.btn-mais-info').on('click', function(event) {
        $( '.open_info' ).toggleClass( "hide" );
    })

    $('#radio2').change(function(){
        $(".radio2").show();
    });

    $('#radio1').change(function(){
        $(".radio2").hide();
    });

</script>