<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <link href="/css/main.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="/css/rangeslider.css"> <!-- Resource style -->
<link rel="stylesheet" href="/css/filter.css"> <!-- Resource style -->
<link href="/css/responsive.css" rel="stylesheet">
<!-- Font Awesome --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- core CSS -->
<script src="/js/filter/modernizr.js"></script>
<main class="cd-main-content">

    <section class="cd-gallery">
        <ul>
            <li class="mix color-1 check1 radio2 option3">
                <div class="container">
                    <div class="li_content detail-item col-xs-12 col-md-9 col-sm-9 col-lg-9">
                        <div class="logos col-md-3 col-sm-3 col-lg-3">
                            <div class="img_logo">
                                <img src="/images/partners/logo1.png" alt="Image 1">
                            </div>
                            <div id="jRate" style="height:20px;width: 100%;">
                            </div>
                            <p>408 calificaciones</p>
                        </div>
                        <div class="detail-item col-md-9 col-sm-9 col-lg-9">
                            <div class="bold">Munich RE</div>
                            <br>
                            <div class="briefdesc">
                            Beneficio destacado:<br> Munich RE te otorga toda la tranquilidad que necesitas ante fallecimiento accidental, otorgando el 100% del capital contratado a los beneficiarios.
                            </div>
                        </div>
                    </div>
                    <div class="buyquote col-xs-12 col-md-3 col-sm-3 col-lg-3">
                        <br>
                        <br>
                        <div>
                            <span>Precio: <b style="font-size: 20px;">$1.602/por mes</b> </span>
                        </div>
                        <div>
                                <button type="submit" class="btn btn-success btn-lg redirect" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Espere a redirigir" style="width: 100%;">
                                    <span class="glyphicon glyphicon-shopping-cart pull-left"></span> Comprar
                                </button>
                        </div>
                    </div>
                </div>
                
                <div class="collapse" id="collapseExample">
                  <div class="card container-fluid">
                    <div class="col-md-6 col-lg-6">
                        <span><i class="fa fa-gift"></i>&nbsp&nbspBeneficios:</span>
                        <br>
                        <br>
                        <span>Te otorga la tranquilidad de estar protegido en caso de accidentalnte.</span><br>
                        <span>Completa cobertura en caso de fallecimiento accidental. </span><br>
                        <span>Cobertura por hasta UF 20.000. </span><br>
                        <span>Prima seguro vida desde UF 0.04. </span><br>
                        <span>Plan A: Indemniza a los beneficiarios con el monto contratado en caso de fallecimiento accidental del titular. </span><br>
                        <span>Plan B: Indemniza al asegurado en caso de incapacidad permanente, total o parcial, a raíz de un accidente. La indemnización corresponde a un porcentaje del capital asegurado.</span><br>
                        <span>Plan C: Reembolsa los gastos médicos ocasionados a raíz de un accidente; 100% del gasto después de SOAP e Isapre o Fonasa y 50% del gasto si el asegurado no está afiliado a una institución de salud. Cubre un monto máximo de 10% del Plan B.</span><br>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <span><i class="fa fa-book"></i>&nbsp&nbspObservaciones:</span>
                        <br>
                        <br>
                        <span>No se efectuará el pago de las indemnizaciones cuando el fallecimiento o lesiones del asegurado se produzcan por alguna de las causas estipuladas en las Exclusiones.</span><br>
                        <span>Completa el Formulario Vida Security en la opción Comprar.</span><br>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp&nbspContacto:</span>
                        <br>
                        <br>
                        <a><span>Más información en este link</span></a><br>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="more_information">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-chevron-down pull-left"></span>
                    </button>
                </div>
                
            </li>
            <li class="mix color-1 check1 radio2 option3">
                <div class="container">
                    <div class="li_content detail-item col-xs-12 col-md-9 col-sm-9 col-lg-9">
                        <div class="logos col-md-3 col-sm-3 col-lg-3">
                            <div class="img_logo">
                                <img src="/images/partners/logo4.png" alt="Image 1">
                            </div>
                            <div id="jRate" style="height:20px;width: 100%;">
                            </div>
                            <p>408 calificaciones</p>
                        </div>
                        <div class="detail-item col-md-9 col-sm-9 col-lg-9">
                            <div class="bold">BCI Seguros</div>
                            <br>
                            <div class="briefdesc">
                            Beneficio destacado:<br> BCI Seguros te otorga toda la tranquilidad que necesitas ante fallecimiento accidental, otorgando el 100% del capital contratado a los beneficiarios.
                            </div>
                        </div>
                    </div>
                    <div class="buyquote col-xs-12 col-md-3 col-sm-3 col-lg-3">
                        <br>
                        <br>
                        <div>
                            <span>Precio: <b style="font-size: 20px;">$6.647/por mes</b> </span>
                        </div>
                        <div>
                                <button type="submit" class="btn btn-success btn-lg redirect" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Espere a redirigir" style="width: 100%;">
                                    <span class="glyphicon glyphicon-shopping-cart pull-left"></span> Comprar
                                </button>
                        </div>
                    </div>
                </div>
                
                <div class="collapse" id="collapseExample1">
                  <div class="card container-fluid">
                    <div class="col-md-6 col-lg-6">
                        <span><i class="fa fa-gift"></i>&nbsp&nbspBeneficios:</span>
                        <br>
                        <br>
                        <span>Te otorga la tranquilidad de estar protegido en caso de accidentalnte.</span><br>
                        <span>Completa cobertura en caso de fallecimiento accidental. </span><br>
                        <span>Cobertura por hasta UF 20.000. </span><br>
                        <span>Prima seguro vida desde UF 0.04. </span><br>
                        <span>Plan A: Indemniza a los beneficiarios con el monto contratado en caso de fallecimiento accidental del titular. </span><br>
                        <span>Plan B: Indemniza al asegurado en caso de incapacidad permanente, total o parcial, a raíz de un accidente. La indemnización corresponde a un porcentaje del capital asegurado.</span><br>
                        <span>Plan C: Reembolsa los gastos médicos ocasionados a raíz de un accidente; 100% del gasto después de SOAP e Isapre o Fonasa y 50% del gasto si el asegurado no está afiliado a una institución de salud. Cubre un monto máximo de 10% del Plan B.</span><br>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <span><i class="fa fa-book"></i>&nbsp&nbspObservaciones:</span>
                        <br>
                        <br>
                        <span>No se efectuará el pago de las indemnizaciones cuando el fallecimiento o lesiones del asegurado se produzcan por alguna de las causas estipuladas en las Exclusiones.</span><br>
                        <span>Completa el Formulario Vida Security en la opción Comprar.</span><br>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp&nbspContacto:</span>
                        <br>
                        <br>
                        <a><span>Más información en este link</span></a><br>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="more_information">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        <span class="glyphicon glyphicon-chevron-down pull-left"></span>
                    </button>
                </div>
                
            </li>
            <li class="gap"></li>
            <li class="gap"></li>
            <li class="gap"></li>
        </ul>
        <div class="cd-fail-message">No se han encontrado resultados</div>
    </section> <!-- cd-gallery -->

    <div class="cd-filter">
        <form>
            <div class="cd-filter-block">
                <h4>Precio</h4>
                
                <div class="cd-filter-content price-slider">
                <span class="h4" id="amount-label"><span class="pricing__dollar">$</span>60</span>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <input id="range-slider" type="range" min="0" max="200" step="5" value="0">
                        </div>
                    </div>
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Buscar</h4>
                
                <div class="cd-filter-content">
                    <input type="search" placeholder="Try Company">
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Seleccionar empresas</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">MAPFRE</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Sura</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Zenit</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->


            <div class="cd-filter-block">
                <h4>Deducible</h4>

                <ul class="cd-filter-content cd-filters list">

                    <li>
                        <input class="filter" data-filter=".check4" type="checkbox" id="checkbox4">
                        <label class="checkbox-label" for="checkbox4">0 UF</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check5" type="checkbox" id="checkbox5">
                        <label class="checkbox-label" for="checkbox5">3 UF</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check6" type="checkbox" id="checkbox6">
                        <label class="checkbox-label" for="checkbox6">5 UF</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check7" type="checkbox" id="checkbox7">
                        <label class="checkbox-label" for="checkbox7">10 UF</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
        </form>

        <a class="cd-close">Cerca</a>
    </div> <!-- cd-filter -->

    <a class="cd-filter-trigger">Filtrar</a>
</main> <!-- cd-main-content -->
<script src="/js/filter/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
<script src="/js/moment-with-locales.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/rangeslider.js/2.3.0/rangeslider.min.js"></script>
<script src="/js/filter/jquery.mixitup.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/libs/parallax.js"></script>
 <script src="/js/cleave.js"></script>
<script src="/js/filter/main.js"></script>
<script type="text/javascript" src="/libs/inputautocomplete/jquery.easy-autocomplete.min.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/filter/jRate.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

    var $element = $('input[type="range"]');
    var $handle;

    $element.rangeslider({
        polyfill: false,
        onInit: function() {
            $handle = $('.rangeslider__handle', this.$range);
            updateHandle($handle[0], this.value);
            $("#amount-label").html('<span class="pricing__dollar">$</span>' + this.value);
        }
    }).on('input', function() {
        updateHandle($handle[0], this.value);
        $("#amount-label").html('<span class="pricing__dollar">$</span>' + this.value);
    });

    function updateHandle(el, val) {
        el.textContent = val;
    }

    var that = this;
    var toolitup = $("#jRate").jRate({
        startColor: "#fad706",
        endColor: "#ff9706",
        shape: 'STAR',
        rating: 4.4,
        strokeColor: 'green',
        precision: 1,
        minSelected: 1,
        onChange: function(rating) {
            //console.log("OnChange: Rating: "+rating);
        },
        onSet: function(rating) {
            console.log("OnSet: Rating: "+rating);
        }
    });
    
    $('#btn-click').on('click', function() {
        toolitup.setRating(0);              
    });
    
    $('.more_information button').on('click', function(){
        if($('.more_information span').hasClass('glyphicon-chevron-down')) {
            $('.more_information span').removeClass('glyphicon-chevron-down');
            $('.more_information span').addClass('glyphicon-chevron-up');
        }else if($('.more_information span').hasClass('glyphicon-chevron-up')) {
            $('.more_information span').removeClass('glyphicon-chevron-up');
            $('.more_information span').addClass('glyphicon-chevron-down');
        }
    });

    $('.filter').on('click', function() {
        // alert('ccc');
        $(this).siblings().find('a').removeClass('selected');
        $(this).find('a').addClass('selected');
    });

    $('.selectpicker').selectpicker();

    $('.redirect').on('click', function() {
        var $this = $(this);
      $this.button('loading');
        setTimeout(function() {
           $this.button('reset');
       }, 3000);
    });

});
</script>