<style type="text/css">
#footer > div > div > div.col-sm-10 > div > button > span.filter-option{
  color: black !important;
}

#footer > div > div > div.col-sm-10 > div > div > ul > li {
  margin-left: 0px !important;
}

#footer > div > div > div.col-sm-10 > div > div > ul > li> a {
  color: #6d6d86 !important;
}

</style>
<footer id="footer" class="midnight-blue">
    <div class="container" style="width: 75%;">
        <div class="row">
            <div class="col-sm-2">
                &copy; 2017 <a target="_blank" href="#" title="Free Twitter Bootstrap WordPress Themes and HTML templates">EspacioSeguro SPA </a>. Todos los derechos reservados.
            </div>
            <div class="col-sm-10">
                <ul class="pull-right">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Sobre Espacio Seguro</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <!-- <div class="btn-group"> -->
                    <style>
                      .dropdown-toggle a:hover {
                        cursor: pointer;
                      }
                      .drop-up {
                          top: auto;
                          background: #a7e6a7;
                          bottom: 100% !important;
                      }
                      .drop-up a:hover{
                          top: auto;
                          color: white !important;
                          bottom: 100% !important;
                      }
                    </style>
                    <li class="dropdown">
                      <li class="dropdown-toggle" data-toggle="dropdown">
                          <a>Colaboradores  <span class="caret caret-down"></span></a>
                      </li>
                      <ul class="dropdown-menu drop-up dropdown-content" role="menu">
                        <li><a href="http://54.94.137.231:3006/">Auditor</a></li><br>
                        <li><a href="http://54.94.137.231:3006/">Vendedor</a></li>
                      </ul>
                    </li>
                    <!-- </div> -->

                </ul>
                <select class="selectpicker" data-width="fit">
                      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                      <option  data-content='<span class="flag-icon flag-icon-cl"></span> Español'>Español</option>
                </select>
            </div>
        </div>
    </div>

</footer><!--/#footer-->
